body{
       
        
    font-size: 1.125rem;
}

.current{
    border-bottom:1px solid #707070;
}
.image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
}
.container{
    
   margin: auto;
    max-width: 900px;
    width:90%;
    border: solid black;
    
    margin-top:15px ;
    display: flex;
    justify-content: space-between;
}
.container1{

}
nav{
   
    padding:0;
    
  
}
nav a:hover,
nav a:focus{
    color:#1792d2;
}
.current:hover{
    color:#707070;
}
nav a{
    padding:.25em 0;
    text-decoration: none;
    color:#707070;
    font-weight: 700;
}
nav ul{
    
    display: flex;
    
    list-style-type: none;
    
}
nav li{
    margin-left: 2em;
}




h1{
    text-align: center;
    color: #321614;
    font-size: 3rem;
    margin-top: 20px;
}
ul{
    font-size: 1rem;
    
}
section{
    
    margin-top: 30px
    
}
.lorem
{
    
}
.qualification{
    margin-right: 20px;
    text-align: center;
    width: 25%;
}
.hobby{
    margin-left: 25px; 
    width:40%
    
}
.quality{
    
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}
.mywork{
    text-align: center;
    margin-left: 40px; 
   width: 35%;
}

.aboutme{
    width:50%;
    
    
    align-items: flex-start;
}
img{
    
    width:25%;
    background: white;

    /* margin-top: 670px; */
}
.myinfo
{

    justify-content: space-between;
    display: flex;
}
.photo{
    
    margin-right: 20px;
    margin-top: 30px;
    width: 50%;
    
    
}
p{
    /* display: inline-block; */
}

h2{
    
    font-size: 1.5rem;
}
.container{
    width: 100%;
    font-size: 1rem;
}
.column{
    display: flex;
    justify-content: space-between;
    margin:1em 0;
    align-items:flex-start ;
}
p{
    color: snow;
}
.col{
    margin-left: 15px;
    color: rgb(8, 113, 212);
}
.col-1{
    width:40%
}
.col-2{
    width:30%
}
.col-3{
    width: 55%;
}
@media(max-width:684px)
{
    .column{
        flex-direction: column;
        justify-content: center;
    }
    .col-1{
        width:100%;
    }
    .col-2{
        width:100%;
    }
    .col-3{
        width: 100%;
    }
    body{
        background: orange;
    }
}

@media(max-width:632px){
    .container{
        flex-direction:column ;
        text-align: center;
    }
   nav ul{
       text-align: center;
     
        flex-direction:column ;
    }
    nav li{
        text-align: center;
        margin: 4px;
    }
   
    body{
        background: pink;
    }
    

}
/*
.section-one{
    
    padding: 15px;
    
    color: black;
    font-size: 1.5em;
    background:;
}*/
h3{
    text-align: center;
    
}

/*
.button{
    display:inline-block;
    background: #FFE600;
    color: black;
    padding: .5em 1.25em;
    text-align: center;
    margin-bottom: 50px;
    
}

.btn-big{
    font-size: 1.5rem;
}
.btn-small{
    font-size: .75rem;
}
#content{
    font-size: large;
}
*/