
body{      
    font-family: 'Ubuntu ',sans-serif;
    font-weight: 300;
}

.main{
    
   
    margin: auto;
    max-width: 1000px;
    
    width:90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
    
}
.mainp{
    /*main paragraph*/
    margin-left: 14px;
}

.cooking{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 14px;
}
.main a{
    text-decoration: none;
    display: block;
    margin-top: 8px;
    margin-left: 14px;
    color: #1792D2;
    font-weight:700 ;
    font-size: .875rem;
    
}
h2{
    margin-top: 0%;
    margin-bottom: 0%;
    margin-left: 14px;
    font-family: 'Lora',serif;
    color:#143774;
    font-weight: 400;
    font-size: 2rem;
}
.simple h2{
    font-family: 'Lora',serif;
    color:#143774;
    font-weight: 400;
    font-size: 2rem;
    margin-left: 0px;
}
h3{
    font-family: 'Lora',serif;
    color:#143774;
    font-weight: 400;
    font-size: 1rem;
    margin-left: 0px;
}
.image{
    width:25%;
    
    height: auto;
}



.simple{
    margin-bottom: 1.5rem;
}
.simplelife{
    margin:0;
   
    width: 80%;
    margin-bottom: 18px;
    
}
.life{
    margin-left: 30px;
    width: 20%;
}
.lifeimage{
    width: 100%;
    display: block;
    
   
}
.aboutme{
    border: 8px solid grey;
    margin-left: 12px;
    margin:0;
    background:white;
    
    
}
.recentimage{
    width: 100%;
   
}
.recentpost
{
    border: 8px solid grey;
    margin-top: 24px;
}


.recentpost p{
    margin-bottom: 14px;
}


.workimage{
    width: 25%;
}


.recentpost div{
    
}
.myimage{
    
    margin: auto;
    margin-top: 0%;
    width: 100%;
}


.pixel-change{
    margin-left: 15px;margin-right: 15px;>
 }





.current{
    border-bottom:1px solid #707070;
}
.container{
    
    margin: auto;
    max-width: 1000px;
    width:90%;
   
    margin-bottom: 40px;
    margin-top:15px ;
    display: flex;
    justify-content: space-between;
}
nav{
   
    padding:0;
    
  
}
.main a:hover,
.main a:focus{
    color: #143774;
    text-decoration: none;
}
nav a:hover,
nav a:focus{
    color:#1792d2;
}
.current:hover{
    color:#707070;
}
nav a{
    padding:.25em 0;
    text-decoration: none;
    color:#707070;
    font-weight: 700;
}
nav ul{
    
    display: flex;
    
    list-style-type: none;
    
}
nav li{
    margin-left: 2em;
}


@media(max-width:793px){
    
    .container{
        flex-direction:column ;
        text-align: center;
    }
   nav ul{
       text-align: center;
     
        flex-direction:column ;
    }
    nav li{
        text-align: center;
        margin: 4px;
    }
    .container h2{
        margin-left: 400px;
    }
    
    .pixel-change h3{
        margin-top: 0%;
    }
    .simplelife{
        
    }
    .image{
        object-fit: cover;
    }
    
    
   .order1{
       order: 1;
   }
   .order2{
       order:2;
   }
   
}  
    
@media(max-width: 702px)
{
    .image{
        width:100%;
        display: block;
        height: auto;
        
    }
    .cooking{
        flex-direction: column;
        margin-left: 0px;
        margin-right: 
        text-align: left;
        
    }
    
   
    
    .mainp{
        margin-left: 0%;
    }
    .cookinginfo{
        text-align: left;
        margin-left: 0%;
    }
    h2{
        margin-left: 0%;
        text-align: left;
    }

    .main a{
        margin-left: 0%;
        margin-bottom: 6px;
    }
    
    .main{
    
   
        margin: auto;
        
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        
    }
    .simplelife{
        margin:0;
       
        width: 100%;
        margin-bottom: 18px;
        
    }
    .life{
        
        width: 100%;
        margin-left: 0%;
        
    }
    .aboutme{
        
        
        
        border: white;
        
        
    }
    .recentpost
{
    border: white;
    margin-left: 0%;
   
}
 .pixel-change{
    margin-left: 0%;

 }
 
 .change-h3{
     font-size: 2rem;
 }
 .change-h3 a{
    font-size: 2rem;
}

 .recentimage{
     margin-top: 8px;
 }
 
}







